h1 {
    color: black;
    background-color: aquamarine;
    text-align: center;
}
div {
    color: blueviolet;
    border: 6px solid black;
    padding: 5%;
    background-image: url(images/cssbackground.jpg);
}

table, tr, th, td {
    color: hotpink;
    border: 2px solid black;
}

#mytable {
    margin-top: 5%;
    background-image: url(images/mobilebackground.avif);
}
