h1 {
    color: black;
    background-color: aquamarine;
    text-align: center;
}
#paracontainer {
    color: blueviolet;
    border: 6px solid black;
    padding: 5%;
    background-image: url(images/cssbackground.jpg);
}

table, tr, th, td {
    color: hotpink;
    border: 2px solid black;
}

#mytable {
    margin-top: 2%;
    background-image: url(images/mobilebackground.avif);
}

#linkcontainer{
    margin-top: 2%;
}

#link1:link{
    background-color: chartreuse;
}

#link1:visited{
    background-color: blueviolet;
}

#link1:hover{
    background-color: chocolate;
}

#link2:link{
    background-color: gold;
}

#link2:visited{
    background-color: blanchedalmond;
}

#link2:hover{
    background-color: darkgrey;
}
